.profile__info {
  max-width: 100%;
  margin: 0 0 36px 0;
}

@media (min-width: 425px) {
  .profile__info {
    max-width: 85%;
  }
}

@media (min-width: 581px) {
  .profile__info {
    margin: 0 0 0 30px;
    max-width: calc(
      100% - 150px
    ); /*150px — 120 под аватарку и 30 отступ от нее*/
  }
}
