.popup__save {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  background: #000000;
  border: none;
  border-radius: 2px;
  width: 100%;
  min-height: 46px;
  transition: opacity 0.5s ease-in-out;
}

.popup__save:hover{
  opacity: 0.8;
  cursor: pointer;
}

.popup__save:disabled{
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 2px;
  background: #FFFFFF;
  color: #000000;
  opacity: 0.2;
}

@media (min-width: 581px) {
  .popup__save {
    min-height: 50px;
    font-size: 18px;
    line-height: 22px;
  }
}
